.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contPubl{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0 50px;
  gap: 50px;
}

.containerLoading {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
