.container {
  display: flex;
  flex-direction: column;
}

.contPubl{
  margin: 8px 0 50px;
}

.containerLoading {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
