.containerData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -55px;
}

.image {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border: 5px solid rgb(28, 28, 28);
  background: rgb(28, 28, 28);
  border-radius: 50%;
}

.followersData {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.container h1,
h2,
p {
  color: white;
}

.container span{
  color: white;
  font-weight: bold;
}

@media (min-width: 700px) {
  .image {
    height: 150px;
    width: 150px;
  }
  .containerData {
    margin-top: -85px;
  }
}
